	
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


	*{
	padding:0;
	margin: 0;
	font-family: 'Poppins', sans-serif;

		}

	ul{

		padding-inline-start: 0px;
	}

	h1{

		color:#D50780;
	}
	html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

	.body{

		overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;

}


		
	


	/*----------------------------------------------- Menu styles */

	.nav {
	  text-align:center;
	  width: 100%;
	  height: 100%;
	  justify-content: center;
	  align-items: center;
	  display: flex;
	}

	.nav___ul___left{
		display: inline-block;
		list-style-type: none;
		margin-top: 0px;

		

	}

	.nav___ul___right{
		display: inline-block;
		list-style-type: none;
		margin-top: 0px;	
		
	}

	.nav___a___img{
		display: inline-block;
		padding-left:6% ;
		padding-right:6%;
		padding-top: 20px;
		width: 110px;
		height: 100%;
		
	}

	.nav___li{
		
		display: inline-block;
		margin-top: 15px;
		margin-right: 30px;
		margin-bottom: 15px;

		font-family: 'Poppins', sans-serif;
		font-size: 18px;
		font-weight:500 ;
	}
.background__menu{
		background-color: #D50780;
    width: 160px;
    height: 18px;
    position: absolute;
    top: -3px;
    transform: translate(-20px, 0px);
    transform: ;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 61%);
    
}

  .nav___background___scroll{
		position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    transition: all 1s;
}

.special__shape{
	position: absolute;
	width: 110%;
	height: 100%;
	z-index: -1;
	animation: taadaa 0.5s;
	transform: translate(75px, -2px);
}
@keyframes taadaa {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.special__shape__delect{
	width: 0;	

	
}

  /*------------------------------ Hover Animation text */
	.nav___li:hover > a {
	color: #FCEA21;
	
	}

	.nav___li:hover {
	color: #FCEA21;
	}


	.nav___li a{
	color:#D50780;
	text-decoration: none;
	text-align: center;

	}

	/*------------------------------ Hover Animation text */


	/*----------------------------------------------- Menu styles */

.text2 {
	 	font-family: 'Poppins';
	 	font-size: 187px;
  color: #D41181;

	}

/*----------------------------------------------- header*/
.div___container___design {
		width: 70%;
		height: 100%;
		margin-top: 9%;
	 	margin-left: 13%;
	 	font-size: 180px;
	 	overflow: hidden;
	}
.div___container___design__im1{
position: absolute;
z-index: -1;
width: 400px;
margin-left: 660px;
margin-top: 35px;
}
.div___container___design___p1{
display: inline-block;
margin-bottom: 10px;
margin-right: 100%;
font-family: 'Roboto', sans-serif;
position:absolute;
z-index: 10;
padding-bottom: 10px;
padding-right: 20px;
color: #FFFFFF;
-webkit-text-stroke: 2px #D50780;
}

.div___container___design___p2{
display: inline-block;
font-family: 'Roboto ', sans-serif;
color:#D50780;
margin-top: 150px;
}
.div___container___sub {
  width: 800px;
  margin-top: 3%;
  margin-left: 3%;

}
.div___container___text {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: italic;
    line-height: 1.5em;
    color: #000000;
    font-weight: 300;
}


.line__banner{
	  height: 3px;
    width: 100000%;
    margin-top: 0%;
    background-color: #0e0e0e;
}

.line__banner2{
	    height: 3px;
    width: 100000%;
    margin-top: 12vh;
    background-color: #0e0e0e;
    position: inherit;
  }
.div___container___banner{
	width: 101%;
  position: absolute;
  display: flex;
  overflow: hidden;
  margin-top: 8vh;
}

.banner__text {
    position: absolute;
    left: 0px;
    top: 0vh;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    line-height: 13vh;
    color: rgb(255 255 255 / 80%);
    -webkit-text-stroke: 2px #0e0e0e;
    -webkit-animation: scrolling-left1 60s linear infinite;
  	animation: scrolling-left1 60s linear infinite;
  	
}

.banner__text2 {
    position: absolute;
    left: 0px;
    top: 0vh;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    line-height: 13vh;
    color: rgb(255 255 255 / 80%);
    -webkit-text-stroke: 2px #0e0e0e;
    -webkit-animation: scrolling-left2 60s linear infinite;
  	animation: scrolling-left2 60s linear infinite ;

  	
}
.container__banner___text{
	width: 100%;
  height: 13vh;
  top: 0px;
  left: 0;
}


@keyframes scrolling-left1 {
    0% {transform: translateX(100%);
        -webkit-transform: translateX(100%);}
      100% {transform: translateX(-100%);
          -webkit-transform: translateX(-100%);}
}
@keyframes scrolling-left2 {
    0% {transform: translateX(0%);
        -webkit-transform: translateX(0%);}
      100% {transform: translateX(-200%);
          -webkit-transform: translateX(-200%);}
}

@-webkit-keyframes scrolling-left1 {
    0% {-webkit-transform: translateX(100%);}
      100% {-webkit-transform: translateX(-100%);}
}

@-webkit-keyframes scrolling-left2 {
    0% {-webkit-transform: translateX(0%);}
      100% {-webkit-transform: translateX(-200%);}
}


.div___obj___static{
	width: 10px;
  position: absolute;
  z-index: 5;
  margin-top: 600px;
  margin-left:  80px;
}
.obj___static{
	transform: rotate(270deg);
  text-orientation: upright;
  position: fixed;
  background-color: #D50780;
	color: #FFFFFF;
	padding: 10px;
  font-size: 18px;
  bottom: 220px;
  left: -30px;
  transition: 0.3s;
  box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 61%);
}


.obj___static:hover {
	transition: 0.5s;
	padding: 20px;
	background-color: #FF39AF;
	
}

.obj___static.active{
	background-color: #890B5F;
	transition: 0.5s;
	z-index: 40;
}

.obj___static.active:hover{
	padding: 10px;
}


.background__follow.active {

	background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    padding: 20px 160px;
    position: fixed;
    left: -25px;
    top: -3px;
    transition: 0.3s;
    z-index: -1;
	

}

.obj___static___follow2{
	transform: rotate(270deg);
  text-orientation: upright;
  position: fixed;
	padding: 10px;
	bottom: 340px;
	font-size: 14px;
	text-decoration:none;
	visibility: hidden;
	left: -20px;
	transition: 0.3s;
	opacity:0.0;
	color: #D50780;

}

.obj___static___follow2:hover{
	text-decoration-line: overline;
	text-decoration-color: #D50780;
	  animation-duration: 0.3s;
	  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
	  
}


.obj___static___follow3{
	transform: rotate(270deg);
  text-orientation: upright;
  position: fixed;
	padding: 5px;
	bottom: 440px;
	font-size: 14px;
	text-decoration:none;
	visibility: hidden;
	left: -20px;
	transition: 0.3s;
	opacity:0.0;
	color: #D50780;
}

.obj___static___follow3:hover{
	text-decoration-line: overline;
	text-decoration-color: #D50780;
	transition: 0.3s;
	opacity:1;
}

.obj___static___follow4{
transform: rotate(270deg);
  text-orientation: upright;
  position: fixed;
	padding: 5px;
	bottom: 540px;
	font-size: 14px;
	text-decoration:none;
	visibility: hidden;
	left: -20px;
	transition: 0.3s;
	opacity:0.0;
	color: #D50780;
}

.obj___static___follow4:hover{
	text-decoration-line: overline;
	text-decoration-color: #D50780;
	transition: 0.3s;
	opacity:1;
}

.obj___static___follow2.active{
	visibility: visible;
	color: #D50780;
	opacity:1.0;
}

.obj___static___follow3.active{
	visibility: visible;
	color: #D50780;
	opacity:1.0;
}	

.obj___static___follow4.active{
	visibility: visible;
	color: #D50780;
	opacity:1.0;
}

/*----------------------------------------------- main follow */

/*----------------------------------------------- Submain */

.position__buttons{

	  width: 100%;
	  height: 100%;
	  justify-content: center;
	  align-items: center;
	  display: flex;
	  margin-top: 100px;
	  margin-bottom: 200px;
}

.buttons__categories{
	margin-top: 130px;
  font-family: 'Poppins';
  color: #D50780;
  font-size: 25px;
  margin-right: 25px;
  font-weight: bold;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
 

  
}
button.learn-more {
  font-weight: 400;
  color: #D50780;
  padding: 1em 1.5em;
  background: #FCEA21;
  border: 2px solid #D50780;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  margin-bottom: 30px; 
  margin-right: 50px;
  margin-top: 150px;
  font-family: 'Poppins';
  color: #D50780;
  font-size: 17px;
}

button.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #D50780;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #D50780, 0 0.625em 0 0 #000000;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more:hover {
  background: #FCEA21;
  transform: translate(0, 0.25em);
}
button.learn-more:hover::before {
  transform: translate3d(0, 0.5em, -1em);
}
button.learn-more:active.active {
  background: #FFFFFF;
  transform: translate(0em, 0.75em);
 border: 2px solid #FFFFFF;
}
button.learn-more:active::before {
  box-shadow: 0 0 0 2px #FFFFFF, 0 0 #FFFFFF;
  transform: translate3d(0, 0, -1em);

}
button.learn-more.change1.active{
 font-family: 'Poppins';
 color: #D50780;
  font-size: 17px;
  background: #FFFFFF;
  transform: translate(0em, 0.75em);
 
}

button.learn-more.change2.active{
 font-family: 'Poppins';
 color: #D50780;
  font-size: 17px;
  background: #FFFFFF;
  transform: translate(0em, 0.75em);
 
}
button.learn-more.change3.active{
 font-family: 'Poppins';
 color: #D50780;
  font-size: 17px;
  background: #FFFFFF;
  transform: translate(0em, 0.75em);
 
}

button.learn-more.change4.active{
 font-family: 'Poppins';
 color: #D50780;
  font-size: 17px;
  background: #FFFFFF;
  transform: translate(0em, 0.75em);
 
}
button.learn-more.change5{
 font-family: 'Poppins';
 color: #D50780;
  font-size: 17px;
  background: #FFFFFF;
  transform: translate(0em, 0.75em);
 
}
/*----------------------------------------------- Submain */


/*----------------------------------------------- gallery */
.gallery___container {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 50px;
}

.reset__tag{
	text-decoration: none;
}

.ajust___hover{
	display: absolute;
	height: 500px;
	width: 100%;
	
}




.gallery__img2{
	height: 500px;
	width: 100%;
	object-fit: cover;
	box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 61%);
}

.gallery__div{
	height: 100%;
	width: 100%;
	
}

.gallery__div1{
	height: 100%;
	width: 100%;
  justify-content: center;
	align-items: center;
	display: flex;
}
/*--------------------------------------vertical text */


.gallery___text___ima{

	font-weight: 700;
	font-size: 1.5em;
	transform: translate(0%, 1700%);
	color: #D50780;
	margin-left: 10px;
	text-align: start;
}


.overlay__img__gallery2 {
    height: 499px;
    opacity: 0;
    background-color: rgb(252 234 38 / 61%);
    transform: translate(0%, -100.8%);
}

.gallery___item:hover .overlay__img__gallery2 {
  opacity: 1;
  transition: 0.3s;
}

.gallery___text___ima2{

	font-weight: 700;
	font-size: 1.5em;
	transform: translate(0%, 970%);
	color: #D50780;
	margin-left: 10px;
	text-align: start;
}

.overlay__img__gallery3 {
    height: 500px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(252 234 38 / 61%);
    transform: translate(0%, -100.9%);
}

.gallery___item:hover .overlay__img__gallery3 {
  opacity: 1;
}

.gallery___text___ima3{

	font-weight: 700;
	font-size: 1.5em;
	transform: translate(0%, 1170%);
	color: #D50780;
	margin-left: 10px;
	text-align: start;
}


.gallery__tittle__left{
	font-weight: 700;
	position: absolute;
  transform: translate(-55%, -980%)rotate(270deg);
  color: #D50780;
}

.gallery___text___ima__res{
	display: none;
}

.gallery__tittle__left2{
	font-weight: 700;
	position: absolute;
  transform: translate(-55%, -650%)rotate(270deg);
  color: #D50780;
}

.gallery__tittle__left3{
	font-weight: 700;
	position: absolute;
  transform: translate(-55%, -650%)rotate(270deg);
  color: #D50780;
}



/*--------------------------------------vertical text */

.gallery___item:nth-child(2){
	grid-row-start: span 3;
	grid-column-start: span 2;
	padding-left: 50px;
	padding-top: 10px;
	padding-right: 30px;

}

.gallery___item:nth-child(4){
	grid-row-start: span 3;
	grid-column-start: span 2;
	padding-left: 20px;
	padding-right: 20px;
}



.container___pagination{
	display: flex;
  align-items: center;
  justify-content: center;
	margin-top: 50px;
}

.pagination___previous{
	text-decoration: none;
	color: #939393;
	padding: 10px;
	border: 2px solid #E5E5E5;
	border-radius:  7px 0px 0px 0px;
	font-size: 18px;
  cursor: default;
}
.pagination___one{
	text-decoration: none;
	color: #ffffff;
	padding: 10px;
	border: 2px solid #E5E5E5;
	border-left-style: none;
	border-right-style: none;
	font-size: 18px;
	background-color: #D50780;
}


.pagination___next{
	text-decoration: none;
	color: #939393;
	padding: 10px;
	border: 2px solid #E5E5E5;
	border-radius:  0px 7px 0px 0px;
	font-size: 18px;
	cursor: default;
}
/*----------------------------------------------- gallery */
.div___container___yellow{
	margin-top: 200px;
	height: 800px;
	background-color: #FFE507;

}




.footer___image{
	height: 800px;
	width: 100%;
	object-fit: cover;
}


.grey{
	background-color: #E5E5E5;
	
}

.container___footer{
	padding-top: 6vh;
	padding-bottom: 6vh;
	background-color: #E5E5E5;

}

.row___footer{
padding-left: 10vw;
}

.footer___ul___box1{
	list-style-type: none;

}

.footer__h1___box1{
	font-size: 20px;
	margin-bottom: 2vh;
	color: #686767;
}

.footer___li___box1{
	margin-top: 1vh;
}

.footer___a___box1{
	text-decoration: none;
	font-family: 'Roboto Condensed';
	font-size: 15px;
	color: #686767;
	
}

.line__footer__text{
	transform: scaleX(0);
}

.footer___a___box1:hover {
	font-weight: 600;
	
}

.footer___a___box1:hover .line__footer__text{
	content: "";
	position: absolute;
	width: 6%;
	height: 5px;
	background-color: #D50780 ;
	z-index: 1;
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.5s;
	border-radius: 50px;

}

.hr__line {
  height: 0.1vh;
  background-color: #686767;
}

.footer__h1{
	font-weight: 400;
	font-size: 15px;
	color: #686767;
	text-align: center;
}

.footer__h1__2{
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 6vh;
	color: #686767;
	text-align: center;
}


.footer___box2{
	list-style-type: none;
}
.footer___box3{
	list-style-type: none;
}

.logo__otramirada__hamburger{
	display: none;
}

.menu-wrapper{
	display: none;
}
@media screen and (max-width: 1403px){
		.menu-wrapper{
		display: none;
	}
	.logo__otramirada__hamburger{
	display: none;
	}
	.special__shape {
    position: absolute;
    width: 110%;
    height: 100%;
    z-index: -1;
    animation: taadaa 0.5s;
    transform: translate(61px, -2px);
	}
}

@media screen and (max-width: 1366px){
	.menu-wrapper{
		display: none;
	}
	.logo__otramirada__hamburger{
	display: none;
	}
}

@media screen and (max-width: 1278px){
	.nav___ul___left {
    display: inline-block;
    list-style-type: none;
    margin-top: 0px;
    margin-left: 2%;
}
	.nav___li {
	    display: inline-block;
	    margin-top: 15px;
	    margin-right: 30px;
	    margin-bottom: 15px;
	    color: #D50780;
	    font-family: 'Poppins', sans-serif;
	    font-size: 21px;
	    font-weight: 500;
	}

}

@media screen and (max-height: 750px){
	.obj___static {
    transform: rotate(270deg);
    text-orientation: upright;
    position: fixed;
    background-color: #D50780;
    color: #FFFFFF;
    padding: 10px;
    font-size: 18px;
    bottom: 100px;
    left: -30px;
    transition: 0.3s;
    box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 61%);
    border: none;
	}
	.obj___static___follow2 {
    transform: rotate(270deg);
    text-orientation: upright;
    position: fixed;
    padding: 10px;
    bottom: 220px;
    font-size: 14px;
    text-decoration: none;
    visibility: hidden;
    left: -20px;
    transition: 0.3s;
    opacity: 0.0;
    color: #D50780;
	}
	.obj___static___follow3 {
    transform: rotate(270deg);
    text-orientation: upright;
    position: fixed;
    padding: 5px;
    bottom: 318px;
    font-size: 14px;
    text-decoration: none;
    visibility: hidden;
    left: -20px;
    transition: 0.3s;
    opacity: 0.0;
    color: #D50780;
	}
	.obj___static___follow4 {
    transform: rotate(270deg);
    text-orientation: upright;
    position: fixed;
    padding: 5px;
    bottom: 423px;
    font-size: 14px;
    text-decoration: none;
    visibility: hidden;
    left: -20px;
    transition: 0.3s;
    opacity: 0.0;
    color: #D50780;
    font-weight: 300;
	}
}

@media screen and (max-width: 1222px){


	.div___container___design {
    width: 70%;
    height: 100%;
    margin-top: 9%;
    margin-left: 13%;
    font-size: 164px;
    overflow: hidden;
	}

	.div___container___design__im1 {
    position: absolute;
    z-index: -1;
    width: 333px;
    margin-left: 606px;
    margin-top: 35px;
	}
	.div___container___design___p2 {
    display: inline-block;
    font-family: 'Roboto ', sans-serif;
    color: #D50780;
    margin-top: 132px;
	}
	.div___container___sub {
    width: 660px;
    margin-top: -1%;
    margin-left: 3%;
	}
	.div___container___text {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 1.5em;
    color: #000000;
    font-weight: 300;
	}

}


@media screen and (max-width: 1200px){

	.nav{
	display: none;
	}
	.logo__otramirada__hamburger{
	display: inline-block;
	}

	.nav___a___img {
    display: inline-block;
    margin-left: 39vw;
    margin-top: -3%;
    margin-bottom: 7%;
	}

	.menu-wrapper {
  background: transparent;
  width: 10%;
  height: 10%;
  position: fixed;
	display: initial;
	top: 10px;
	z-index: 20;
	}

	.menu-wrapper.active {
	  background: transparent;
	  width: 100%;
	  height: 100%;
	  position: fixed;
	  z-index:  200;
	}

	.material-menu {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  background: transparent;
	  
	}

	.material-btn {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-wrap: wrap;
	  background: transparent;
	  width: 75px;
	  height: 75px;
	  cursor: pointer;
	  border-radius: 50%;
	  z-index: 2;
	  position: absolute;
	  top: 20px;
	  left: 20px;
	}
	.material-btn.active .material-hamburguer:before {
	  transform: scale(25);
	}
	.material-btn .material-hamburguer {
	  transition: all 0.2s ease-out;
	}
	.material-btn .material-hamburguer:before {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 75px;
	  height: 75px;
	  z-index: -1;
	  background: white;
	  border-radius: 50%;
	  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	  transform: scale(1);
	  transition: all 0.35s ease-out;
	}
	.material-btn .material-hamburguer .material-patty {
	  width: 32px;
	  height: 4px;
	  background: #D50780;
	  transition: all 0.2s ease-out;
	}
	.material-btn .material-hamburguer .material-patty:not(:last-child) {
	  margin-bottom: 6px;
	}
	.material-btn .material-hamburguer.material-close {
	  transform: rotate(-180deg);
	  
	}
	.material-btn .material-hamburguer.material-close .material-patty:nth-child(1) {
	  transform: translate(9px, 4px) rotate(45deg) scale(0.5, 1);
	}
	.material-btn .material-hamburguer.material-close .material-patty:nth-child(3) {
	  transform: translate(9px, -4px) rotate(-45deg) scale(0.5, 1);
	}

	.material-content {
	 position: relative;
	 z-index: -1;
	 display: none;
	}
	.material-content nav {
	  height: 40vh;
	    position: absolute;
	    top: 100px;
	    padding: 15%;
	    padding-top: 0%;
	}
	.material-content nav li {
	  margin-bottom: 40px;
	  transition: all 0.3s ease-out;
	  transform: translateY(70px);
	  opacity: 0;
	}
	.material-content nav li.active {
	  transform: translateY(0px);
	  opacity: 1;

	}

	.material-content a {
	  font-size: 4vw;
	  color: #D50780;
	  transition: all 0.3s ease-out;
	}
	.material-content.active {
	  z-index: 2;
	  display: flex;
	}

	.gallery___text___ima {
   display: none;
	}

	

.gallery___text___ima__res {
    font-weight: 700;
    font-size: 1.5em;
    color: #D50780;
    display: flex;
    margin-top: 10px;
    text-align: initial;
	}

	.overlay__img__gallery2 {
    height: 500px;
    opacity: 0;
    transition: .3s ease;
    background-color: rgb(252 234 38 / 30%);
    transform: translate(0%, -108%);
	}

	.overlay__img__gallery3 {
    height: 500px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(252 234 38 / 30%);
    transform: translate(0%, -108.2%);
	}

	
	.gallery__tittle__left2 {
    font-weight: 500;
    position: absolute;
    transform: translate(0%, 0%)rotate(0deg);
    color: #D50780;
	}

	.gallery__tittle__left3 {
    font-weight: 500;
    position: absolute;
    transform: translate(0%, 0%)rotate(0deg);
    color: #D50780;
	}

}


@media screen and (max-width: 1080px){
	.div___container___banner {
    width: 101%;
    position: absolute;
    display: flex;
    overflow: hidden;
    margin-top: 3vh;
	}
.banner__2__margin {
    margin-top: 2vh;
	}

	.line__banner {
    height: 3px;
    width: 100000%;
    margin-top: 0%;
    background-color: #0e0e0e;
	}

	.line__banner2 {
    height: 3px;
    width: 100000%;
    margin-top: 12vh;
    background-color: #0e0e0e;
    position: inherit;
	}
	.div___container___yellow {
    margin-top: 138px;
    height: 800px;
    background-color: #FFE507;
	}
}


@media screen and (max-width: 1024px) and (max-height: 1366px){
	.div___container___design {
    width: 70%;
    height: 100%;
    margin-top: 9%;
    margin-left: 13%;
    font-size: 137px;
    overflow: hidden;
	}
	.div___container___design__im1 {
    position: absolute;
    z-index: -1;
    width: 271px;
    margin-left: 536px;
    margin-top: 35px;
	}
	.div___container___banner {
    width: 101%;
    position: absolute;
    display: flex;
    overflow: hidden;
    margin-top: 3vh;
	}
	
	button.learn-more {
    font-weight: 400;
    color: #D50780;
    padding: 1em 1.5em;
    background: #FCEA21;
    border: 2px solid #D50780;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    margin-bottom: 30px;
    margin-right: 25px;
    margin-top: 150px;
    font-family: 'Poppins';
    color: #D50780;
    font-size: 17px;
	}

	.div___container___yellow {
    margin-top: 210px;
    height: 800px;
    background-color: #FFE507;
	}

}




@media screen and (max-width: 900px){
		.div___container___design {
    width: 80%;
    height: 100%;
    margin-top: 9%;
    margin-left: 13%;
    font-size: 132px;
    overflow: hidden;
	}

	.div___container___design__im1 {
    position: absolute;
    z-index: -1;
    width: 262px;
    margin-left: 492px;
    margin-top: 34px;
	}
	.position__buttons {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    display: grid;
    margin-bottom: 0px;
	}
	.buttons__categories {
    margin-top: 185px;
    font-family: 'Poppins';
    color: #D50780;
    font-size: 25px;
    margin-right: 25px;
    font-weight: bold;
	}
	button.learn-more {
    font-weight: 400;
    color: #D50780;
    padding: 1em 1.5em;
    background: #FCEA21;
    border: 2px solid #D50780;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    /* margin-bottom: 30px; */
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 30px;
    font-family: 'Poppins';
    color: #D50780;
    font-size: 17px;
	}
	.div___container___categories {
    display: flex;
    margin-top: 120px;
	}

	.gallery___item:nth-child(2) {
    grid-row-start: span 3;
    grid-column-start: span 7;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
	}

	.overlay__img__gallery2 {
    display: none;
	}

	.gallery___item:nth-child(4) {
    grid-row-start: span 3;
    grid-column-start: span 7;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -75px;
	}
	.overlay__img__gallery3 {
    display: none;
	}

.container___pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}
}

@media screen and (max-height: 900px){

	.special__shape {
    position: absolute;
    width: 110%;
    height: 100%;
    z-index: -1;
    animation: taadaa 0.5s;
    transform: translate(70px, -2px);
	}
	.div___container___categories {
    display: flex;
    margin-top: 230px;
	}

}

@media screen and (max-width: 428px){
	.nav___a___img {
    display: inline-block;
    margin-left: 33vw;
    margin-top: -1%;
    margin-bottom: 7%;
    width: 90px;
    height: 100%;
	}
	.div___container___design {
    width: 70%;
    height: 100%;
    margin-top: 9%;
    margin-left: 13%;
    font-size: 67px;
    overflow: hidden;
	}
	.div___container___design__im1 {
    position: absolute;
    z-index: 4;
    width: 211px;
    margin-left: 48px;
    margin-top: 70px;
	}

	.div___container___design___p1 {
    display: inline-block;
    margin-top: 265px;
    margin-bottom: 10px;
    margin-right: 100%;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    z-index: 10;
    padding-bottom: 10px;
    padding-right: 20px;
    color: #FFFFFF;
    -webkit-text-stroke: 2px #D50780;
	}
	.div___container___design___p2 {
    display: inline-block;
    font-family: 'Roboto ', sans-serif;
    color: #D50780;
    margin-top: 323px;
	}
	.div___container___sub {
    width: 285px;
    margin: auto;
	}
	.div___container___text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 1.5em;
    color: #000000;
    font-weight: 300;
	}


	.div___container___banner {
    width: 101%;
    position: absolute;
    display: flex;
    overflow: hidden;
    margin-top: 2vh;
	}
	.banner__text {
    position: absolute;
    left: 0px;
    top: 0vh;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 13vh;
    color: rgb(255 255 255 / 80%);
    -webkit-text-stroke: 2px #0e0e0e;
    -webkit-animation: scrolling-left1 60s linear infinite;
    animation: scrolling-left1 60s linear infinite;
	}
	.banner__text2 {
    position: absolute;
    left: 0px;
    top: 0vh;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 13vh;
    color: rgb(255 255 255 / 80%);
    -webkit-text-stroke: 2px #0e0e0e;
    -webkit-animation: scrolling-left2 60s linear infinite;
    animation: scrolling-left2 60s linear infinite;
	}
	.line__banner {
    height: 2px;
    width: 100000%;
    margin-top: 3%;
    background-color: #0e0e0e;
	}
	.line__banner2 {
    height: 2px;
    width: 100000%;
    margin-top: 11vh;
    background-color: #0e0e0e;
    position: inherit;
	}

	.div___container___yellow {
    margin-top: 126px;
    height: 800px;
    background-color: #FFE507;
	}
}

@media screen and (max-width: 400px){
	.div___container___design {
    width: 70%;
    height: 100%;
    margin-top: 9%;
    margin-left: 13%;
    font-size: 61px;
    overflow: hidden;
	}
}
@media screen and (max-width: 375px){
	.div___container___design {
    width: 70%;
    height: 100%;
    margin-top: 9%;
    margin-left: 13%;
    font-size: 60px;
    overflow: hidden;
	}
}

@media screen and (max-width: 360px) and (max-height: 640px){

	.nav___a___img {
    display: inline-block;
    margin-left: 33vw;
    margin-top: -1%;
    margin-bottom: 7%;
    width: 78px;
	}
	.div___container___design {
    width: 70%;
    height: 100%;
    margin-top: 9%;
    margin-left: 13%;
    font-size: 54px;
    overflow: hidden;
	}
	.div___container___sub {
    width: 232px;
    margin: auto;
	}

	.obj___static {
    transform: rotate(270deg);
    text-orientation: upright;
    position: fixed;
    background-color: #D50780;
    color: #FFFFFF;
    padding: 5px;
    font-size: 16px;
    bottom: 118px;
    left: -30px;
    transition: 0.3s;
    box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 61%);
}
	.obj___static:hover {
    transition: 0.5s;
    padding: 14px;
    background-color: #FF39AF;
	}
	.obj___static.active:hover {
    padding: 7px;
	}
.obj___static___follow2 {
    transform: rotate(270deg);
    text-orientation: upright;
    position: fixed;
    padding: 10px;
    bottom: 220px;
    font-size: 14px;
    text-decoration: none;
    visibility: hidden;
    left: -20px;
    transition: 0.3s;
    opacity: 0.0;
    color: #D50780;
}
	.background__follow.active {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    padding: 15px 160px;
    position: fixed;
    left: -25px;
    top: -3px;
    transition: 0.3s;
    z-index: -1;
	}
.obj___static___follow3 {
    transform: rotate(270deg);
    text-orientation: upright;
    position: fixed;
    padding: 5px;
    bottom: 329px;
    font-size: 14px;
    text-decoration: none;
    visibility: hidden;
    left: -20px;
    transition: 0.3s;
    opacity: 0.0;
    color: #D50780;
	}
	.obj___static___follow4 {
    transform: rotate(270deg);
    text-orientation: upright;
    position: fixed;
    padding: 5px;
    bottom: 422px;
    font-size: 14px;
    text-decoration: none;
    visibility: hidden;
    left: -20px;
    transition: 0.3s;
    opacity: 0.0;
    color: #D50780;
	}

	.div___container___yellow {
    margin-top: 87px;
    height: 800px;
    background-color: #FFE507;
	}
}