
*{
    padding:0;
    margin: 0;
    font-family: $po;

}


 
 html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    }



.row{
    width: 100%
}

ul{

    padding-inline-start: 0px;
}

h1{
    color: $color-pink;
}
