
.container___tittle3{
    color: $color-pink;
    font-size: $tittle-size2;
    @include font-weight-po(bold);
    margin-top: 20%;
    margin-left: -90px;
    text-align: initial;
    margin-bottom: 70px;
}


.size___tittle3{
    width:70%;
    margin-left: 26%;
}
.subttile__card{
    color: $color-pink;
    @include font-weight-po(bold);
}
